{
    "branches" : "main",
    "repositoryUrl" : "https://github.com/ahdcreative/ahdcs",
    "debug": "false",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/relase-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Semantic Versioning Changelog"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": ["CHANGELOG.md"]
            }
        ],
        [
            "@semantic-release/github",
            {
                assets: [
                    {
                        "path": "release/**"
                    }
                ]
            }
        ]
   ]
}
